/* CSS */

/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #323232;
}

body {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

a:active, a:hover {
	color: #00AEEF;
	text-decoration: underline;
}

#container-tablet, #container-desktop, #container-smartphone {
	margin:0 auto;
	padding: 0;
	text-align: left;
}

#container-tablet {
	width: 1024px;
	overflow: hidden;
}

#container-desktop {
	width: 1400px;
}

#container-smartphone {
	width: 320px;
}

h1 {
	font-family: Circular;
	font-size: 36px;
	font-weight: bold;
	line-height: 38px;
	letter-spacing: normal;
}

h1#hed {
	margin: 10px 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

#featured-slideshow #channel, #featured-slideshow #subchannel {
	font-family: Bureau;
	font-weight: normal;
	text-transform: uppercase;
}

#titlecard {
	max-width: 50%;
	max-height: 15%;
	background-color: rgba(255,255,255,0.9);
	margin: auto;
	text-align: center;
	padding: 25px 50px;
	display: inline-block;
	vertical-align: middle;
}

#titlecard #channel {
	font-size: 18px;
	color: #00AEEF;
}

#titlecard #subchannel {
	font-size: 14px;
	color: #00AEEF;
}

#byline, #pub-time {
	font-weight: normal;
	font-size: 12px;
	color: #7f7f7f;
	letter-spacing: -0.02em;
}

#pub-time {
	margin: 5px 0 0 0;
}

#byline .contrib-name {
	color: /*#fb351c*/black;
}

#titlecard #dek {
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	color: #575757;
	margin: 20px 0 30px;
}

.button {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 11px 28px;
	color: #fb351c;
	border: 2px solid #fb351c;
	display: inline-block;
}

.button a {
	text-decoration: none;
	color: inherit;
}

.button a:hover, .button a:active {
	text-decoration: none;
}

.button:hover, .button:active {
	color: #fff;
	background-color: #fb351c;
}

#header-holder { position: fixed;top:0;z-index:100; }

#header {
	background-color: rgba(255,255,255,0.97);
	box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
	margin: 0;
	padding: 0;
}

#header.collapsed {
	height: 50px;
	width: 1024px;
	position: relative;
}

#header.collapsed h1 {
	font-family: Circular;
	font-size: 16px;
	color:#000000;
	padding: 0;
	font-weight: normal;
	white-space: nowrap;
	/*float:left;
	margin:14px 10px 0 20px;*/
	position: absolute;
	top: 14px;
	left: 200px;
}

#header.collapsed .share, #header.collapsed .subscribe {
	font-family: Circular;
	font-size: 14px;
	color: #00AEEF;
	/*float: left;
	margin: 19px 0 0 8px;
	letter-spacing: 0.15em;
	text-transform: uppercase;*/
}

#header.collapsed .subscribe {
	/*margin-left: 15px;*/
	position: absolute;
	top: 19px;
	right: 44px;
}

#header.collapsed #share-icon {
	width: 15px;
	height: 15px;
	background-image: url(../images/share-blue.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	/*float:left;
	margin:20px 0 0 15px;*/
	position: absolute;
	top: 18px;
	right: 110px;
}

#header.collapsed #sponsor-credit {
	/*float: left;
	margin: ;*/
}

#header.collapsed #menu-cta {
	width: 29px;
	height: 15px;
	/*float:left;
	margin: 19px 0 0 44px;*/
	background-image: url(../images/hamburger.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: absolute;
	top: 19px;
	left: 44px;
}

#header.collapsed #menu-cta:hover, #header.collapsed #menu-cta:active {
	background-image: url(../images/hamburger-blue.svg);
	background-repeat: no-repeat;
}

#header.collapsed #logo {
	width: 90px;
	height: 40px;
	background-image: url(../images/new-CNT-logo-2014-000000.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	/*float:left;
	margin:9px 0 0 20px;*/
	position: absolute;
	top: 5px;
	left: 90px;
}

#header.collapsed #search-icon {
	width: 21px;
	height: 21px;
	background-image: url(../images/search-icon-collapsed.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	/*float: left;
	margin: 15px 43px 0 30px;*/
	position: absolute;
	top: 17px;
	right: 142px;
}


/* ---------------------------------------------- */


#featured-slideshow {
	text-align: center;
}

#featured-slideshow #main-image {
	width: 764px;
	height: 574px;
	margin: 0 10px;
	float: left;
	position: relative;
	text-align: center;
}

#featured-slideshow #main-image img {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}

#featured-slideshow #previous-image {
	/* ----- */
}

#featured-slideshow #next-image {
	/* ----- */
}

#featured-slideshow .side-image {
	width: 120px;
	height: 574px;
	padding: 0;
	margin: 0;
	float: left;
	background: url(images/side-img-1024-2-step-repeat.png) repeat 0 0;
	overflow: hidden;
	position: relative;
}

#featured-slideshow .side-image::after {
	content: "";
  background-color: #fff;
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /*z-index: 1;*/
}

#featured-slideshow #photos-container img {
	max-height: 574px;
	max-width: 764px;
}

/* -------------------------------------------------- */

#secondary {
	width: 942px;
	text-align: left;
	margin: 0 auto;
}

#contrib-share-band {
	margin: 0 42px;
	padding: 50px 0;
}

#contrib-share-band a {
	color: inherit;
}

#contrib-share-band a:hover, #contrib-share-band .mini-bio a:active {
	color: #fb351c;
	text-decoration: underline;
}

#contrib-share-band .contrib-credit {
	float: left;
}

#contrib-share-band .photo.contributor {
	width: 180px;
	height: 180px;
	overflow: hidden;
}

#contrib-share-band .photo.contributor img {
	width: 180px;
	height: 180px;
	clip-path: circle(90px, 90px, 90px);
	-webkit-clip-path: circle(90px, 90px, 90px);
	-moz-clip-path: circle(90px, 90px, 90px);
}

#contrib-share-band .contrib-credit .photo {
	float: left;
}

#contrib-share-band .mini-bio {
	float: left;
	margin: 0 0 0 30px;
}

#contrib-share-band .share-box {
	float: left;
}

#contrib-share-band .mini-bio li {
	float: left;
	font-size: 12px;
	padding: 3px 0;
	margin: 5px 8px 0 0;
}

#contrib-share-band .mini-bio li a {
	color: #fb351c;
}

#contrib-share-band .mini-bio li:first-of-type {
	padding-left: 24px;
}

#contrib-share-band .places li:first-of-type {
	background: url(images/places-icon-contrib-credit.png) 0 0 no-repeat transparent;
}

#contrib-share-band .topics li:first-of-type {
	background: url(images/topics-icon-contrib-credit.png) 0 1px no-repeat transparent;
}

#contrib-share-band h3 {
	font-family: Mercury;
	font-size: 32px;
	font-weight: normal;
}

#contrib-share-band .contrib-credit .summary {
	font-size: 14px;
	margin: 1px 0 5px;
	padding: 10px 0;
	color: #7f7f7f;
}

h6.contrib-recent {
	font-weight: normal;
	font-size: 12px;
	color: #7f7f7f;
	margin: 0 0 4px 0;
}

#contrib-share-band .mini-bio ul:last-of-type {
	
}

#share-tools {
	margin: 10px 0;
}

#share-box {
	padding: 0 0 0 100px;
	display: table-cell;
	vertical-align: top;
}

#share-box h3 {
	font-size: 26px;
	line-height: 42px;
	vertical-align: baseline;
}

#share-tools .share-icon {
	width: 40px;
	height: 40px;
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
	background-image: url(images/share-and-discuss.png);
	background-repeat: no-repeat;
}

#share-tools .share-icon:hover, #share-tools .share-icon:active {
	cursor: pointer;
	background-image: url(images/share-and-discuss-active.png);
}

.share-icon.facebook {
	background-position: 0 0;
}

.share-icon.twitter {
	background-position: -49px 0;
}

.share-icon.google-plus {
	background-position: -98px 0;
}

.share-icon.linkedin {
	background-position: -148px 0;
}

.share-icon.print {
	background-position: -197px 0;
}

.share-icon.email {
	background-position: -246px 0;
}

#recirc-row {
	padding: 40px 0;
	margin: 0;
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
}

#recirc-row .tout {
	text-align: center;
	padding: 0 50px;
	float: left;
	width: 38%;
}

#recirc-row .tout .more-in {
	font-size: 12px;
	color: #7f7f7f;
}

#recirc-row .tout .more-in-topic {
	font-family: GothamNarrow;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fb351c;
}

h3.recirc-tout {
	font-family: Mercury;
	font-size: 36px;
	line-height: 38px;
	font-weight: normal;
}

.leaderboard-holder {
	text-align: center;
	padding: 40px;
	margin: 0;
	border-bottom: 1px solid #e4e4e4;
}

.leaderboard-holder .leaderboard-ad {
	width: 728px; height: 90px;
	background-color: #ccc;
	color: #999;
	margin: 0 auto;
	text-align:center;
}

.leaderboard-holder .leaderboard-ad p {
	padding:35px 0 0 0; margin:0;
}

#recirc-container {
	text-align: center;
	padding: 50px 0;
	border-bottom: 1px solid #e4e4e4;
}

#recirc-container h4.recirc-header {
	font-family: GothamNarrow;
	font-weight: 500;
	letter-spacing: 0.15em;
	color: #7f7f7f;
	text-transform: uppercase;
}

#recirc-container ul.recirc-touts.three {
	margin: 20px auto;
	display: table;
}

#recirc-container .recirc-tout.three {
	float: left;
	margin: 0 10px 0 0;
}

#recirc-container .recirc-tout.three:last-of-type {
	margin-right: 0;
}

#recirc-container .tout-image.three {
	width: 301px;height: 226px;background-color: #e4e4e4;
}

#recirc-container .tout-hed.three {
	font-family: Mercury;
	font-size: 18px;
	line-height: 22px;
	margin: 10px 0 0 0;
	max-width: 291px;
	padding: 0 5px;
	text-align: center;
}



/* ------------ CHANNEL INDEX ------------------ */

#header.expanded {
	height: 92px;
	padding: 10px;
	box-shadow: none;
}

#header.expanded #menu-cta, #header.expanded #search-cta {
	float: left;
}

#header.expanded #menu-cta {
	padding: 30px;
}

#header.expanded #menu-cta:hover, #header.expanded #menu-cta:active {
	cursor: pointer;
}

#header.expanded #menu-cta:hover>div, #header.expanded #menu-cta:active>div {
	color: #00AEEF;
}

#header.expanded #subscription-tout {
	float: right;
	padding: 0 30px 0 0;
}

#subscription-tout #no-image {
	text-align: center;
	float: left;
	padding: 25px 12px 0 0;
}

#subscription-tout .subscribe-header {
	font-family: Bureau;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-bottom: 5px;
	color: black;
}

#subscription-tout .deal {
	font-family: Farnham;
	font-size: 15px;
	font-style: italic;
}

#subscription-tout .cover-mini {
	float: left;
}

#subscription-tout .cover-mini img {
	padding: 0;
	margin: 0;
	width: 65px;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.35);
}

#header.expanded #logo {
	font-family: cntsymbols;
	font-size: 56px;
	line-height: 94px;
	color: black;
	float: left;
}

#header.expanded #hamburger {
	font-family: cntsymbols;
	color: black;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 18px;
}

#header.expanded .menu {
	font-size: 11px;
	margin-bottom: 5px;
	padding: 0;
}

#header.expanded #search-cta {
	margin-left: 60px;
	padding-top: 17px;
}

#header.expanded #search-box {
	border-bottom: 2px solid #e4e4e4;
	float: left;
	width:390px;
}

#header.expanded #search-prompt {
	margin-bottom: 5px;
}

#header.expanded #search-sample {
	font-weight: 100;
	letter-spacing: -0.03em;
	font-size: 30px;
	font-family: Farnham;
	line-height: normal;
	color: #e4e4e4;
}

#header.expanded #search-icon {
	float: left;
	font-family: cntsymbols;
	font-size: 25px;
	color: #e4e4e4;
	margin: 2px 0 0 9px;
}

#page-body {
	padding-top: 55px;
}

#page-body .leaderboard {
	width: 726px;
	height: 88px;
	margin: 20px auto 0;
	border: 1px solid #999;
	background-color: #ccc;
}

#channel-heading {
	text-align: center;
}

/*.channel-holder::after {
	content: "";
	width: 40px;
	height: 3px;
	background-color: black;
	display: inline-block;
	margin: 0 500px;
	padding: 0;
}*/

#channel-heading .subchannel {
	float: left;
	margin: 0 2.25em 0 0;
	font-family: Circular;
	font-size: 12.5px;
	font-weight: bold;
}

#channel-heading .subchannel:last-of-type {
	margin-right: 0;
}

#channel-heading #subchannels {
	display: inline-block;
	margin: 0;
	padding: 0;
}



#lede-image {
	width: 1024px;
	height: 516px;
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#titlecard h3 {
	font-family: Farnham;
	font-size: 13px;
	font-weight: 900;
	line-height: 13px;
	color: black;
	letter-spacing: 0.21428571rem; /* 3px */
	text-transform: uppercase;
	padding: 8px 13px 6px;
	border: 1px solid black;
	background-color: white;
	display: inline-block;
	position: relative;
	top: -40px;
	left: 0;
}

#titlecard h2 {
	font-family: Bureau;
	font-size: 42px;
	line-height: 42px;
	color: black;
	letter-spacing: normal;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

ul.byline {
	display: inline-block;
	margin: 20px 0 0 0;
}

#titlecard ul.byline li {
	font-size: 17px;
	line-height: 19px;
	color: white;
}

#titlecard ul.byline span.author {
	font-size: 17px;
	line-height: 17px;
}

ul.byline li {
	float: left;
	font-family: Farnham;
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	line-height: 17px;
	color: black;
	margin: 0 5px 0 0;
}

ul.byline span.author {
	font-family: Circular;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	font-style: normal;
}

#index-channel .words {
	text-align: center;
}

#index-channel .section {
	padding: 30px 54px 30px 52px;
	border-bottom: 1px solid #e4e4e4;
}

#index-channel .tout .subchannel {
	display: inline-block;
	font-family: Circular;
	font-size: 13.5px;
	font-weight: bold;
	letter-spacing: 0.1em;
}

#first-right-side-ad, #second-right-side-ad {
	float: right;
}

#index-channel #second-feature {
	padding-bottom: 0;
	border-bottom: none;
}

#index-channel .image {
	overflow: hidden;
	background-size: 100% auto;
	background-position: 0 0;
	background-repeat: no-repeat;
}

#second-feature .tout {
	float: left;
	padding: 0 0 30px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #e4e4e4;
	width: 588px;margin: 0;
}
#second-feature .tout .image {
	width: 588px;
	height: 441px;
}
#second-feature .tout .subchannel {
	margin: 0;
	padding: 0;
}
#index-channel .tout .subchannel:hover, #index-channel .tout .subchannel:active {
	text-decoration: underline;
	cursor: pointer;
}
#second-feature .tout .hed {
	font-family: Circular;
	font-size: 34px;
	line-height: 36px;
	letter-spacing: -0.02em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	margin: 10px 0 0;
	padding: 0 10px;
}

#second-feature .words {
	margin-top: 15px;
}

#top-stories .touts-row {
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}

.touts-row .three {
	margin: 0;
	padding: 0;
}
.touts-row .three .tout {
	float:left;
	margin: 0 30px 0 0;
	padding: 0;
	display: inline-block;
	width: 286px;
}
.touts-row .three .tout:last-of-type {
	margin-right: 0;
}
.touts-row .three .tout .image {
	width: 286px;
	height: 215px;
	overflow: hidden;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #e4e4e4;
	margin: 0;
	padding: 0;
}
.touts-row .three .tout .words {
	text-align: center;
	margin: 0;
	padding: 10px;
}
.touts-row .three .tout .display-e {
	margin: 10px 0 0 0;
}
.touts-row .three .tout .headline-g {
	margin: 10px 0 0 0;
}

#contributor-touts {
	padding: 0 10px 0 13px;
}
#index-channel .section-title {
	text-align: center;
}
#contributor-touts .touts-row {
	margin: 35px 0 0 0;
	padding: 0;
}
#contributor-touts .tout {
	width: 185px;
	float: left;
	margin: 0 50px 0 0;
}
#contributor-touts .tout:last-of-type {
	margin-right: 0;
}
#contributor-touts .tout .image {
	width: 185px;
	height: 185px;
	border-radius: 92.5px;
	background-color: #e4e4e4;
}
#contributor-touts .tout .contributor-name {
	padding: 20px 0 18px;
	font-family: Circular;
	font-size: 23px;
	line-height: 24px;
	font-weight: normal;
	/*letter-spacing: 0.05em;*/
	text-transform: none;
	color: #00AEEF;
}
#contributor-touts .tout .contributor-name::after {
	content: "";
	width: 40px;
	height: 3px;
	background-color: black;
	display: inline-block;
	margin: 0 50px;
	padding: 0;
}

#contributor-touts .tout .hed:hover, #contributor-touts .tout .hed:active {
	text-decoration: underline;
	cursor: pointer;
}
#contributor-touts .tout .contributor-name:hover, #contributor-touts .tout .contributor-name:active {
	color: #00AEEF;
	text-decoration: underline;
	cursor: pointer;
}


#featured-venue.section {
	border-bottom: none;
}
#featured-venue .tout {
	margin: 40px 0 0 0;
}
#featured-venue .tout .image, #featured-venue .tout .words {
	float: left;
}
#featured-venue .tout .image {
	width: 444px;
	height: 332px;
	background-color: #e4e4e4;
}
#featured-venue .price-range {
	margin: 10px 0 10px 0;
	padding: 0;
}
#featured-venue .price-symbol {
	float: left;
	font-family: venuesymbols;
	font-size: 32px;
	color: #e4e4e4;
	margin: 0 8px 0 0;
	padding: 0;
}
#featured-venue .price-symbol.on {
	color: #00AEEF;
}
#featured-venue .price-symbol:last-of-type {
	margin-right: 0;
}
#featured-venue .address {
	padding: 20px 0 18px;
	width: 100%;
}
#featured-venue .address::after {
	content: "";
	width: 40px;
	height: 3px;
	background-color: black;
	display: inline-block;
	margin: 0 100px;
	padding: 0;
}
#featured-venue .words ul {
	display: inline-block;
}
#featured-venue .type-subtype li {
	float: left;
}
#featured-venue .words {
	width: 400px;
	padding: 0 0 0 40px;
	display: table-cell;
	text-align: center;
}
.spacer {
	color: #e4e4e4;
	margin: 0 5px 0 3px;
}
#featured-venue .name {
	font-weight: normal;
}
#featured-venue .words h3, #featured-venue .words h4, #featured-venue .words p {
	padding: 0;
	margin: 0;
}
#featured-venue .words .hed, #featured-venue .words .name {
	margin-top: 11px;
}
#featured-venue .name:hover, #featured-venue .hed:hover, #featured-venue .name:active, #featured-venue .hed:active {
	text-decoration: underline;
	cursor: pointer;
}



#page-body #latest {
	padding-right: 35px;
}
#latest h3 {
	margin-bottom: 30px;
}
#latest .touts {
	float: left;
}
#latest .touts .tout {
	padding: 15px;
}
#latest .touts .tout.sponsored {
	background-color: #f7f7f7;
}
#latest .touts .tout .words .sponsored {
	margin: 0 0 8px 0;
}
#latest .touts .tout .words {
	width: 309px;
	height: 210px;
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#latest .touts .tout .words ul {
 	display: inline-block;
 	vertical-align: middle;
 	max-width: 269px;
 	max-height: 180px;
 	margin: auto;
 	text-align: center;
 	padding: 15px 20px;
 }
#latest .touts .tout .image {
	float: left;
	width: 279px;
	height: 210px;
	margin: 0;
	padding: 0;
	background-color: #ccc;
}
#latest .touts .tout .hed::after {
	content: "";
	width: 40px;
	height: 3px;
	background-color: #ccc;
	display: inline-block;
	margin: 15px 100px 14px 100px;
	padding: 0;
}
#latest .touts .tout .hed {
	margin-top: 8px;
	font-size: 21px;
	line-height: 23px;
}
#latest .touts .load {
	text-align: center;
	padding: 40px 0;
	background-image: url(../images/1px-e4e4e4.png);
	background-position: center;
	background-repeat: repeat-x;
}
#latest .touts .load-more {
	display: inline-block;
}

