/* CSS */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,700,700italic);

/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html {
	font: 300 15px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#stuff {
	text-align: center;
}

#mocks-link {
	font-size: 2em;
	font-weight: bold;
	line-height: 2.25em;
	margin: 5px 0 10px;
}

#mocks-link a {
	color: orange;
}

#mocks-link a:visited {
	color: #a23a00;
}

#mock-title {
	margin:20px 0 0 0;
	padding:0;
	font-size:1.375em;
	font-weight: 300;
	color: gray;
}

#mock-container {
	border: none;
	overflow: hidden;
	position: relative;
	padding: 0;
}

#mock-container img {
	position: relative;
	top: 0px;
  border-bottom: 1px gray dotted;
  padding:0 0 30px 0;
}

@media (max-width: 1024px) {
	#mock-container img {
		width: 100%
	}
}

a {
	border: none;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

#list-menu {
	width: 500px;
	margin: 0 0 0 10%;
	text-align: left;
}

#list-menu .template-group-title {
	border-bottom: 1px solid #ccc;
	display: block;
	padding: 0 0 10px 0;
	margin: 2.5em 0 0 0;
}

#list-menu h1 {
	font-size: 1.75em;
	line-height: 1em;
	font-weight: 100;
	color: #666;
	margin: 1em 0 1.25em 0;
}

#list-menu h2 {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 1.25em;
}

#list-menu h3 {
	font-size: 1em;
	color: gray;
}

.approval-status {
	font-size: 0.675em;
	font-weight: normal;
	text-transform: uppercase;
	padding: 2px 4px;
	margin: 5px 0 0 0;
	float: right;
}

.approved {
	color: white;
	background-color: green;
}

.draft {
	color: white;
	background-color: orange;
}


.need-revisions {
	color: white;
	background-color: maroon;
}

#channels-and-subchannels {
	border: 1px solid #efefef;
}

#channels-and-subchannels tr {
	vertical-align: top;
}

#channels-and-subchannels tr.alternate {
	background-color: #eeeeee;
}

#channels-and-subchannels td, th {
	padding: 15px;
}

#channels-and-subchannels th {
	border-bottom: 1px dotted #dddddd;
}