/* CSS */

/* ------ BUREAU (uses Compressed) ------ */

@font-face
{
	font-family: Bureau;
	src: url(fonts/BureauGrotComp-Book.otf);
	font-weight:normal;
}

@font-face
{
	font-family: Bureau;
	src: url(fonts/BureauGrotComp-Medium.otf);
	font-weight:bold;
}

@font-face
{
	font-family: Bureau;
	src: url(fonts/BureauGrotComp-Light.otf);
	font-weight:100;
}



/* ------ FARNHAM ------ */

@font-face
{
	font-family: Farnham;
	src: url(fonts/FarnhamText-Regular.otf);
	font-weight:normal;
}

@font-face
{
	font-family: Farnham;
	src: url(fonts/FarnhamText-Bold.otf);
	font-weight: bold;
}

@font-face
{
	font-family: Farnham;
	src: url(fonts/FarnhamDisplay-Light.otf);
	font-weight: 100;
}

@font-face
{
	font-family: Farnham;
	src: url(fonts/FarnhamText-RegularItal.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face
{
	font-family: Farnham;
	src: url(fonts/FarnhamText-BoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}

@font-face
{
	font-family: Farnham;
	src: url(fonts/FarnhamDisplay-LightItalic.otf);
	font-weight: 100;
	font-style: italic;
}


/* ------ CIRCULAR ------ */

@font-face
{
	font-family: Circular;
	src: url(fonts/CircularStd-Book.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: Circular;
	src: url(fonts/CircularStd-Bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face
{
	font-family: Circular;
	src: url(fonts/CircularStd-Medium.otf);
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: Circular;
	src: url(fonts/CircularStd-Black.otf);
	font-weight: 900;
	font-style: normal;
}

@font-face
{
	font-family: Circular;
	src: url(fonts/CircularStd-BookItalic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face
{
	font-family: Circular;
	src: url(fonts/CircularStd-BoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}

@font-face
{
	font-family: Circular;
	src: url(fonts/CircularStd-MediumItalic.otf);
	font-weight: 500;
	font-style: italic;
}

@font-face
{
	font-family: Circular;
	src: url(fonts/CircularStd-BlackItalic.otf);
	font-weight: 900;
	font-style: italic;
}

/* ------ SYMBOL ICON BLOCK ------ */

@font-face
{
	font-family: SymbolIconBlock;
	src: url(fonts/ss-symbolicons-block.otf);
	font-weight: normal;
}

@font-face
{
	font-family: Fontawesome;
	src: url(fonts/FontAwesome.otf);
	font-weight: normal;
}



/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #323232;
}

body {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

a:active, a:hover {
	color: #fb351c;
	text-decoration: underline;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

#page-bounds {
	width: 768px;
	height: 1024px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.full-page.image {
	width: 768px;
}

.title-holder {
	text-align: center;
	position: absolute;
	top: 13%;
	left: -12px;
	width: 100%;
}

.title-holder h1, .title-holder h2 {
	font-style: normal;
	color: black;
	line-height: 0.825em;
	margin: 0;
	padding: 0;
}

.title-holder h1 {
	font-family: Circular;
	font-size: 215px;
	opacity: 0.3;
	font-weight: bold;
	letter-spacing: -0.0375em;
}

.title-holder h2 {
	font-family: Farnham;
	font-size: 64px;
	font-style: italic;
	opacity: 0.15;
	font-weight: 100;
	position: absolute;
	right: 13%;
	margin: 15px 0 0 0;
}

#splash #logo {
	width: 175px;position: absolute; top: 62px;left: 309px;
}

#tout-holder {
	position: absolute;
	top: 64%;
	left: 0;
	width: 100%;
}

.splash-tout {
	padding: 0 30px;
	float: left;
	text-align: center;
	width: 196px;
	color: #00ADE8;
}

.splash-tout .icon {
	font-family: SymbolIconBlock;
	font-size: 24px;
	padding: 0;
	margin-bottom: 10px;
}

.splash-tout .pre-hed {
	font-family: Circular;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 11px;
	padding: 2px 0;
}

.splash-tout .hed {
	font-family: Farnham;
	font-size: 36px;
	font-weight: normal;
	font-style: italic;
	margin: 0;
	padding: 0;
	letter-spacing: 0.025em;
	word-spacing: -0.025em;
	line-height: 1.15em;
}

.blue-1 {
	color: #56D6FF;
}

.blue-2 {
	color: #00ADE8;
}

.yellow-1 {
	color: #EECC00;
}

.red-1 {
	color: #FF7664;
}

.white {
	color: #FFF;
}

#secondary-tout-holder {
	color: #00ADE8;
	left: 0;
	width: 100%;
	padding: 0 20px;
	margin: 0;
	position: absolute;
	bottom: 7%;
}

.secondary-tout {
	margin: 20px 0 0 0;
	padding: 0 20px;
	width: 142px;
	float: left;
	text-align: center;
	border-right: 1px dotted rgba(0, 173, 232, 0.35);
	min-height: 70px;
}

.secondary-tout:last-of-type {
	border-right: none;
}

.secondary-tout .symbol {
	display: block;
	font-family: SymbolIconBlock;
	font-size: 18px;
}

.secondary-tout .hed {
	font-family: Circular;
	font-weight: bold;
	font-size: 16px;
	display: block;
}


